<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.chinamobile.ftp.ftpspeed" version="3.6.5" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>ftpspeed</name>
    <js-module name="FTPSpeed" src="www/ftpspeed.js">
        <clobbers target="cordova.plugins.ftpspeed" />
    </js-module>

	 <platform name="android">
        <!-- ftp测速插件 -->
         <!--适配cordova-andorid 7.0的安装，如果含jar包，则需要这种格式-->
         <config-file target="app/src/main/res/xml/config.xml" parent="/*">
            <feature name="FTPSpeed">
                <param name="android-package" value="com.chinamobile.ftp.FTPSpeed"/>
            </feature>
         </config-file>
         <!--适配cordova-android 6.4的安装，如果不含jar包，则兼容cordova-android 7.0和6.4，不含jar包的plugin，包括已经很多已经不更新的plugin是这种格式-->
         <config-file target="res/xml/config.xml" parent="/*">
             <feature name="FTPSpeed">
                 <param name="android-package" value="com.chinamobile.ftp.FTPSpeed"/>
             </feature>
         </config-file>



		 <!-- 权限 -->
        <config-file target="app/src/main/AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
			<uses-permission android:name="android.permission.INTERNET"/>
        </config-file>
     
        <!-- 项目文件 -->
        <source-file src="src/android/FTPSpeed.java"  target-dir="src/com/chinamobile/ftp"/>
         <source-file src="src/android/FTPSpeedInfo.java"  target-dir="src/com/chinamobile/ftp"/>
		<source-file src="src/android/FTPSpeedUtil.java"  target-dir="src/com/chinamobile/ftp"/>
        <source-file src="src/android/FTPSingleTask.java"  target-dir="src/com/chinamobile/ftp"/>
        <source-file src="src/android/FTPSingleTaskListener.java"  target-dir="src/com/chinamobile/ftp"/>
        <source-file src="src/android/FTPSingleTaskManager.java"  target-dir="src/com/chinamobile/ftp"/>

		<!-- 项目jar包 -->
        <source-file src="src/android/commons-net-3.6.jar" target-dir="app/libs"/>
        <source-file src="src/android/jakarta-oro.jar" target-dir="app/libs"/>
        <source-file src="src/android/commons-pool2-2.7.0.jar" target-dir="app/libs"/>

    </platform>
    
    <platform name="ios">
        <!-- ftp测速插件 -->
        <config-file target="config.xml" parent="/*">
            <feature name="FTPSpeed">
                <param name="ios-package" value="FTPSpeed" />
            </feature>
        </config-file>

        <!-- 网络权限 -->
        <!-- 网络权限 -->
        <config-file target="*-Info.plist" parent="NSAppTransportSecurity">
            <dict>
                <key>NSAllowsArbitraryLoads</key>
                <boolean>YES</boolean>
            </dict>
        </config-file>

        <!--  项目文件 -->
        <header-file src="src/ios/FTPSpeed.h" />
        <source-file src="src/ios/FTPSpeed.m" />
        <header-file src="src/ios/JUNFTPPutRequest.h" />
        <source-file src="src/ios/JUNFTPPutRequest.m" />
        <header-file src="src/ios/JUNFTPDeleteRequest.h" />
        <source-file src="src/ios/JUNFTPDeleteRequest.m" />
        <header-file src="src/ios/JUNFTPGetRequest.h" />
        <source-file src="src/ios/JUNFTPGetRequest.m" />

        <header-file src="src/ios/FTPManager.h" />
        <source-file src="src/ios/FTPManager.m" />
        <header-file src="src/ios/FYFtpRequest.h" />
        <source-file src="src/ios/FYFtpRequest.m" />
        <header-file src="src/ios/YHHFtpRequest.h" />
        <source-file src="src/ios/YHHFtpRequest.m" />

        <framework src="src/ios/CFNetwork.framework" custom="true" />
    </platform>

</plugin>
